.link {
	color: black;
	cursor: pointer;
}
.focus {
	text-decoration: underline;
	background-color: blue;
    color: white;
}
.kkkk {
	background-color: red;
    color: white;
}
.line {
	margin: 0 auto;
}
.line>div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height:100%;
	text-align: left;
	margin-top: 5px;
}
.line>div>label {
	display: inline-block;
	*display: inline;
	text-align: left;
	vertical-align: center;
	padding: 3px;
}