
.layer-tabs {
    font-family: SimSun, STSong;
}

/* The line in dialog */
.line {
	margin: 3px auto;               /* Each line has a blank from the previous line */
}

/* The div include the link text */
.line>div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height:100%;
	text-align: left;
}

.line>div>label {
    color: black;
    cursor: pointer;
	display: inline-block;
	*display: inline;
	text-align: left;
	vertical-align: middle;
	padding: 3px;                   /* Ensure the hover shadow would be a bit larger than the label itself */
}